body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
div{
    height: 200px;
    width: 400px;

}
.box01{
    position:static;
    background-color: yellow;
}
.box02{
    position: relative;/*altera o posicionamento em posição ao onde o box foi definido*/
    left: 500px; 
    bottom: 50px;
    background-color: green;
}
.box03{
    background-color: brown;
    position: absolute;
    bottom:300px ;
    left: 600px;
}
.box04{
    background-color: palegreen;
    position: fixed;
    top:600px;
    left: 1000px;
}
.box05{
    background-color: blueviolet;
    position: sticky;
    bottom: 600px;
}